/* body{
    background-image: url("../images/concrete_seamless.png");
    margin: 0;
    padding: 0;
    color: #777777;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

main{
    background-color: white;
    width: 960px;
    margin: auto;
    padding: 05px 20px 05px 20px;
    overflow: auto;
    height: auto;
    width: 960px;
}

.name_brand{
    color: red;
    background-color: teal;
}

header{
    background-color: #ffffff;
    margin: auto;
    width: 100%;
    height:auto;
    overflow: auto;
    border-bottom: solid 2px #cccccc;
    color: white;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

.header1{
    margin-left: 30%;
}



#links{
    margin-right: 100px;
}

nav{
    float: right; 
    padding: 10px;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

li{
    display: inline-block;
}

footer{
    color: white;
    background-color: gray;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: auto;
    padding: 05px 20px 05px 20px;
    text-align: center;
    border-top: solid 5px #4aaaa5;
}

h2{
    color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    border-bottom: solid 3px #cccccc;
    padding-bottom:10px;
}

input {
    width:100%;
}

.message{
    height:60px;
    width: 100%;
}

#copyright {

}

#portrait {
    float: left;
    width: 300px; 
    margin-right: 8px;
}

.portfolio {
    width: 150px;s
    height: 150px;
    object-fit: cover;
    margin: 10px;
}

h3 {
    position: absolute;
}

} */


.name_brand{
    background-color: teal;
    color: white;
    margin: 0;
    padding: 2px;
    height: 100%;
}

.navbar {
    padding-top: 0px;
    padding-bottom:0px;

}

.navbar-nav{
    color: yellow;
}